BasedOnStyle: Google
AccessModifierOffset: -4
IndentWidth: 4
PointerAlignment: Left
BreakBeforeBraces: Stroustrup
SortIncludes: true 
IncludeCategories:
  - Regex:           '^"'
    Priority:        1
  - Regex:           '^<'
    Priority:        2
