BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Stroustrup
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerIndentWidth: 0
IncludeCategories:
  - Regex:           '^"'
    Priority:        1
  - Regex:           '^<'
    Priority:        2
PenaltyReturnTypeOnItsOwnLine: 120
PointerAlignment: Left
